@import "./reset.css";
@import "./colors.css";

html[data-theme="light"] {
    --color-text: var(--color-neutral-800);
    --color-background-primary: var(--color-neutral-200);
    --color-background-secondary: var(--color-neutral-400);
    --color-background-tertiary: var(--color-neutral-300);
    --color-warning : var(--color-orange-700);
    --color-error: var(--color-red-700);
    --color-selected: var(--color-purple-700);
    
    --color-theme-amber : var(--color-amber-700);
    --color-theme-blue : var(--color-blue-700);
    --color-theme-cyan : var(--color-cyan-700);
    --color-theme-emerald : var(--color-emerald-700);
    --color-theme-fuchsia : var(--color-fuchsia-700);
    --color-theme-green : var(--color-green-700);
    --color-theme-indigo : var(--color-indigo-700);
    --color-theme-lime : var(--color-lime-700);
    --color-theme-orange : var(--color-orange-700);
    --color-theme-pink : var(--color-pink-700);
    --color-theme-purple : var(--color-purple-700);
    --color-theme-red : var(--color-red-700);
    --color-theme-rose : var(--color-rose-700);
    --color-theme-sky : var(--color-sky-700);
    --color-theme-slate : var(--color-slate-700);
    --color-theme-teal : var(--color-teal-700);
    --color-theme-violet : var(--color-violet-700);
    --color-theme-yellow : var(--color-yellow-700);
    --color-theme-zinc : var(--color-zinc-700);
}

html[data-theme="dark"] {
    --color-text: var(--color-neutral-200);
    --color-background-primary: var(--color-neutral-800);
    --color-background-secondary: var(--color-neutral-700);
    --color-background-tertiary: var(--color-neutral-900);
    --color-warning : var(--color-orange-500);
    --color-error: var(--color-red-500);
    --color-selected: var(--color-purple-500);

    --color-theme-amber : var(--color-amber-500);
    --color-theme-blue : var(--color-blue-500);
    --color-theme-cyan : var(--color-cyan-500);
    --color-theme-emerald : var(--color-emerald-500);
    --color-theme-fuchsia : var(--color-fuchsia-500);
    --color-theme-green : var(--color-green-500);
    --color-theme-indigo : var(--color-indigo-500);
    --color-theme-lime : var(--color-lime-500);
    --color-theme-orange : var(--color-orange-500);
    --color-theme-pink : var(--color-pink-500);
    --color-theme-purple : var(--color-purple-500);
    --color-theme-red : var(--color-red-500);
    --color-theme-rose : var(--color-rose-500);
    --color-theme-sky : var(--color-sky-500);
    --color-theme-slate : var(--color-slate-500);
    --color-theme-teal : var(--color-teal-500);
    --color-theme-violet : var(--color-violet-500);
    --color-theme-yellow : var(--color-yellow-500);
    --color-theme-zinc : var(--color-zinc-500);
}

html {
    font-family: Helvetica, serif;
    font-size: 16px;
}

input {
    font-size: 16px;
}

select {
    font-size: 16px;
}

textarea {
    background-color: inherit;
    color: var(--color-text);
}

button {
    background-color: inherit;
    color: var(--color-text);

    &:not([disabled]):hover {
        background-color: var(--color-selected);
        color: var(--color-background-primary);
    }

    &[disabled] {
        color: var(--color-background-secondary);
    }

    &.container {
        display : flex;
        align-items : center;
        justify-content : flex-start;
        gap : 5px
    }
}

.system {
    background-color: var(--color-background-primary);
    color: var(--color-text);
    height: 100%;
    display: flex;
    flex-direction: column;

    .router {
        flex : 1
    }
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    align-items: center;
    gap: 5px;
}