.toolbar {

    background-color: var(--color-background-secondary);
    border-bottom: 1px solid var(--color-background-primary);
    z-index: 9999;

    .layout {
        height: 100%;
        width: 100%;

        .left {
            width: 33%;
            text-align: left;
        }

        .middle {
            width: 33%;
            text-align: center;
        }

        .right {
            width: 33%;
            text-align: right;
        }
    }

}